@model Vidly.Models.Movie

@{
    ViewBag.Title = "Movie Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @* page heading *@
    <div class="d-flex align-items-center justify-content-between mb-4">
        <div class="flex-grow-1 text-center">
            <h1 class="fw-bold m-0">Movie Details</h1>
        </div>

        @* add new customer button *@
        <button class="btn btn-primary"
                onclick="location.href='@Url.Action("EditMovie", "Movies", new { id = Model.MovieId })'">
            Edit Movie
        </button>
    </div>

    @* page content *@
    <div style="margin-top: 20px">
        @* movie details *@
        <div style="line-height: 0.8;">
            <p>
                <span style="font-weight: bold">Reference id: </span>@Model.MovieId
            </p>

            <p>
                <span style="font-weight: bold">Movie title: </span> @Model.Title
            </p>

            <p>
                <span style="font-weight: bold">Genre: </span> @Model.Genre.Name
            </p>

            <p>
                <span style="font-weight: bold">Release date: </span> @Model.ReleasedDate.ToString("dd/MM/yyyy")
            </p>

            <p>
                <span style="font-weight: bold">Added date: </span> @Model.AddedDate.ToString("dd/MM/yyyy")
            </p>

            <p>
                <span style="font-weight: bold">Number in stocks: </span> @Model.NumInStock
            </p>
        </div>
    </div>
</div>