@model List<Vidly.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @* page heading *@
    <div class="d-flex align-items-center justify-content-between mb-4">
        <div class="flex-grow-1 text-center">
            <h1 class="fw-bold m-0">Movies</h1>
        </div>

        @* add new customer button *@
        <button class="btn btn-primary" onclick="location.href='@Url.Action("MovieForm", "Movies")'">
            Add Movie
        </button>
    </div>

    @* page content *@
    <div style="text-align: center; margin-top: 20px">
        @if (Model.Count == 0)
        {
            <h4 style="color: darkgray">We don't have any movies yet.</h4>
        }
        else
        {
            <table class="table table-bordered table-striped" style="margin: 0 auto; width: 100%">
                <thead class="table-dark">
                    <tr>
                        <th>Title</th>
                        <th>Genre</th>
                        <th>Released Date</th>
                        <th>Stocks</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var movie in Model)
                    {
                        <tr>
                            <td>
                                <a asp-area="" asp-controller="Movies" asp-route-id="@movie.MovieId" asp-action="Details">
                                    <span class="hover-pointer-underline">@movie.Title</span>
                                </a>                                
                            </td>
                            <td>@movie.Genre.Name</td>
                            <td>@movie.ReleasedDate.ToString("dd/MM/yyyy")</td>
                            <td>@movie.NumInStock</td>
                            <td>
                                @* edit button *@
                                <a asp-controller="Movies" asp-action="EditMovie" asp-route-id="@movie.MovieId"
                                   class="btn btn-sm btn-success me-2" title="Edit Movie">
                                    <i class="bi bi-pencil-fill"></i>
                                </a>

                                @* delete button *@
                                <a asp-controller="Movies" asp-action="DeleteMovie" asp-route-id="@movie.MovieId"
                                   class="btn btn-sm btn-danger" title="Delete Movie">
                                    <i class="bi bi-trash-fill"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>