@model Vidly.Models.ViewModels.CustomerFormViewModel

@{
    ViewBag.Title = Model.Customer.CustomerId == 0 ? "Add New Customer" : "Edit Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card shadow-lg p-4" style="max-width: 500px; width: 100%; border-radius: 12px;">
        @* form heading *@
        <div class="text-center mb-4">
            <h1 class="fw-bold">@(Model.Customer.CustomerId == 0 ? "Add New Customer" : "Edit Customer")</h1>
        </div>

        @* customer form *@
        @using (Html.BeginForm("SaveCustomer", "Customers"))
        {
            @Html.ValidationSummary(false, "", new { @style = "color: red; font-weight: bold;" })

            <div class="mb-3">
                @Html.LabelFor(m => m.Customer.Name, new { @class = "form-label fw-semibold" })
                @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control", placeholder = "Enter customer name" })
                @Html.ValidationMessageFor(m => m.Customer.Name, "", new { @style = "color: red; font-weight: bold;" })
            </div>

            <div class="mb-3">
                @Html.LabelFor(m => m.Customer.BirthDate, new { @class = "form-label fw-semibold" })
                @Html.TextBoxFor(m => m.Customer.BirthDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                @Html.ValidationMessageFor(m => m.Customer.BirthDate, "", new { @style = "color: red; font-weight: bold;" })
            </div>

            <div class="mb-3">
                @Html.LabelFor(m => m.Customer.MembershipTypeId, new { @class = "form-label fw-semibold" })
                @Html.DropDownListFor(
                         m => m.Customer.MembershipTypeId,
                         new SelectList(Model.MembershipTypes, "MembershipTypeId", "Name"),
                         new { @class = "form-control", @prompt = "Select Membership Type" })
                @Html.ValidationMessageFor(m => m.Customer.MembershipTypeId, "", new { @style = "color: red; font-weight: bold;" })
            </div>

            <div class="mb-3 checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsLetter) <span style="font-weight: bold">Subscribe to News Letter</span>
                </label>
            </div>            

            @Html.HiddenFor(m => m.Customer.CustomerId)
            @Html.AntiForgeryToken() 
            <button type="submit" class="btn btn-primary w-100" style="margin-top: 30px">Save</button>
        }
    </div>
</div>
