@model Vidly.Models.Customer

@{
    ViewBag.Title = "Customer Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @* page heading *@
    <div class="d-flex align-items-center justify-content-between mb-4">
        <div class="flex-grow-1 text-center">
            <h1 class="fw-bold m-0">Customer Details</h1>
        </div>

        @* add new customer button *@
        <button class="btn btn-primary"
                onclick="location.href='@Url.Action("EditCustomer", "Customers", new { id = Model.CustomerId })'">
            Edit Customer
        </button>
    </div>

    @* page content *@
    <div style="margin-top: 20px">
        @* customer details *@
        <div style="line-height: 0.8;">
            <p>
                <span style="font-weight: bold">Reference id: </span>@Model.CustomerId
            </p>

            <p>
                <span style="font-weight: bold">Customer name: </span> @Model.Name
            </p>

            <p>
                <span style="font-weight: bold">Birthdate: </span> @Model.BirthDate.ToString("dd/MM/yyyy")
            </p>

            <p>
                <span style="font-weight: bold">New letter: </span> @(Model.IsSubscribedToNewsLetter ? "Subscribed" : "Not Subscribed")
            </p>
        </div>
        
        @* membership details *@
        <div style="text-align: left; margin-top: 30px">
            <table class="table table-bordered table-striped" style="width: 80%">
                <thead class="table-dark">
                    <tr>
                        <th>Membership Type</th>
                        <th>Signup Fee</th>
                        <th>Months</th>
                        <th>Discount Rate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.MembershipType?.Name</td>
                        <td>$ @Model.MembershipType?.SignupFee</td>
                        <td>@Model.MembershipType?.DurationInMonths</td>
                        <td>@Model.MembershipType?.DiscountRate %</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>